extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Danny Gallegos
        p Full Stack JavaScript Developer
        .about-bio
          p Hey oh! I'm Danny. I have spent the first half of my life following my passion which is music and now for my second and best act, full stack web development. I bring to the table insane organizational skills with wizard-like efficiency. I have a knack for finishing before deadlines and keeping my code on point as much as humanly possible. For a job well done yet fun, go ahead and hire me ;-)

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 936-827-7094
          li dantothelastdrop@yahoo.com

        a.btn-link(href='http://www.linkedin.com' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/dantasyisland' target="_blank") GitHub
        a.btn-link(href='http://www.twitter.com' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back