<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
  body
    .error
      h1 Status Code: #{error.status}
      h3 #{error.message}
      p Go ahead and #[a(href="/") click here] to go home

      img(src="/static/images/shockedcat.jpeg", alt="Picture of cat looking shocked")