extends layout.pug

block content
    .error
      h1 Status Code: #{err.status}
      h3 #{err.message}
      p Go ahead and #[a(href="/") click here] to go home
      img(src="/public/images/shockedcat.jpeg", alt="Picture of cat looking shocked")