<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/public/css/normalize.css')
    link(rel='stylesheet', href='/public/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/public/images/profilepic.jpeg', alt='Picture of Danny Gallegos')
        .dev-intro-box
          h5 Danny Gallegos
          p This portfolio is to demonstrate to you, the lovely viewer, my abilities and accomplishments as an ever-learning, ever-growing full stack web developer. I'm available for hire if you are interested. If not, enjoy the show anyway! =^.^=
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Danny Gallegos

      block content

  script(src='/public/js/script.js')